<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kokofarm.kokofarm_user_app">

    <!-- 권한 관련 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.kokofarm.kokofarm_user_app.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kokofarm.kokofarm_user_app.OutEnvironmentActivity"
            android:parentActivityName="com.kokofarm.kokofarm_user_app.MainActivity"/>
        <activity android:name="com.kokofarm.kokofarm_user_app.OutRecordActivity"
            android:parentActivityName="com.kokofarm.kokofarm_user_app.MainActivity"/>
        <activity android:name="com.kokofarm.kokofarm_user_app.OutRecordChartActivity"
            android:parentActivityName="com.kokofarm.kokofarm_user_app.OutRecordActivity"/>
        <activity android:name="com.kokofarm.kokofarm_user_app.SettingActivity"
            android:parentActivityName="com.kokofarm.kokofarm_user_app.MainActivity"/>
    </application>
</manifest>